@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.section-spacing {
  margin-top: 5rem;
  padding-top: 2rem;
}

.section-spacing-upcoming {
  margin-top: 4rem;
  padding-top: 1rem;
}

.section-spacing-upcoming-titel {
  margin-top: 3rem;
  padding-top: 1.5rem;
}

.section-spacing-upcoming-lo {
  margin-top: 4rem;
  padding-top: 1.5rem;
}

.section-spacing-crate-event {
  margin-top: 1rem;
  padding-top: 1rem;
}
